.fade-appear {
    opacity: 0.01;
    transition : opacity 300ms ease-in;
}

.fade-appear.fade-appear-active {
    opacity: 1;
}

.fade-enter {
    opacity: 0.01;
    transition : opacity 300ms ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-out;
}

/* Slider */
.slider-enter {
    overflow-y: hidden;
    max-height: 0;
}

.slider-enter.slider-enter-active {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */
    transition: all 200ms ease-in;
}

.slider-leave {
    overflow-y: hidden;
    max-height : 500px;
    transition: all 200ms ease-out;
}

.slider-leave.slider-leave-active {
    max-height: 0; /* approximate max height */
}