/* line 1, C:/Users/Josue/Desktop/core-admin/release_bs3/source/stylesheets/justgage.scss */
.justgage {
  width: 200px;
  height: 160px;
  display: inline-block; }
  /* line 6, C:/Users/Josue/Desktop/core-admin/release_bs3/source/stylesheets/justgage.js.scss */
  .justgage.small {
    width: 90px;
    height: 70px; }
